/* Components */
@import "./components/status.css";
@import "./components/splash.css";

/* Screens */
@import "./screens/main.css";
@import "./screens/qna.css";
@import "./screens/result.css";

@import "../css/variables.css";

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SangSangShinb7";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  color: var(--main-title);
}
body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
main {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 420px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: white;
}
button[type="button"] {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
button[type="button"]:hover {
  background-color: var(--green-hover);
}

.hide {
  display: none !important;
}
